*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.App {
  padding: 5rem 5rem;
}

.title {
  padding-bottom: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 8rem;
  background: linear-gradient(to right, #1a2980, #26d0ce);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
